<div class="info">
    <h2><i class="fa fa-info-circle"></i>Cum votez?</h2>
    <p>1. Cetățeanul trebuie să se prezinte la primăria locală cu buletinul, certificatul de naștere și adresa de email personală.</p>
    <p>2. Personalul angajat la primărie are obligația de a înregistra datele despre cetățean pe o platformă special amenajată, în prezența vizuală a cetățeanului în cauză.</p>
    <p>3. Cetățeanul va primi un email pe adresa de emai personală cu o parolă. De pe calculatorul personal, avesta va accesa căsuța poștală electronică și va verifica existența e-mailului.</p>
    <p>4. Cetățeanul va putea accesa în orice moment pagina online de vot, cu adresa de email personală, CNP-ul și parola primită prin email, iar în momentul în care se poate vota, acesta va putea alege un candidat, iar votul lui va fi înregistrat în mod anonim în baza de date.</p>
    <h2><i class="fa fa-info-circle"></i>Am descoperit o fraudă. Ce fac?</h2>
    <p>1. După logarea pe platforma online, orice cetățean, poate trimite detaliile legate de o fraudă sau o nerespectare a regulamentului, pe pagina Reclamație, ce poate fi accesată din meniu, sau <a href="votare/reclamatie">printr-un click aici</a>.</p>
</div>
