html, body {
    margin: 0;
    padding: 0;
    background: #3498db;
    color: white;
}

* {
    box-sizing: border-box;
    outline: none!important;
}

.overflow {
    overflow: hidden;
    margin-bottom: 23px;
}

h1.bigtitle {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 130px 0px;
}

.bigbutton, .bigbutton:focus {
    box-sizing: content-box;
    display: block;
    width: 90%;
    max-width: 350px;
    height: 150px;
    line-height: 150px;
    background: #f39c12;
    border-radius: 20px;
    border-bottom: 8px solid #d35400;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    transition: all .05s ease-in-out;
    text-decoration: none;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}

.bigbutton:hover, .bigbutton:active {
    color: white;
    transform: translate(0, 3px);
    text-decoration: none;
    border-bottom: 5px solid #d35400;
}

.bigbutton:active {
    transform: translate(0, 6px);
    border-bottom: 2px solid #d35400;
}

.line {
    width: 96%;
    max-width: 940px;
    margin: auto;
    border-bottom: 2px solid white;
    height: 1px;
    display: block;
    margin: 10px auto;
}

.box1 {
    overflow: hidden;
    min-height: 550px;
}

.box2 {
    overflow: hidden;
    min-height: 550px;
    color: black;
    background: #F7F8F9;
    width: 96%;
    max-width: 940px;
    margin: 20px auto;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 2px 10px;
    width: 100%;
    max-width: 940px;
}

.modal.fade.slide-left:not(.in) .modal-dialog {
    transition-duration: .2s;
    -webkit-transform: translate3d(35%, 0, 0);
    transform: translate3d(35%, 0, 0);
}

.modal {
    color: #333;
    position: fixed;
}

.modal-content {
    overflow: hidden;
}

.modal-med {
    width: 95%;
    max-width: 400px;
}

.modal-header {
    background: #087CFF;
    color: white;
    text-align: center;
}

.modal-header h4 {
    font-size: 25px;
    font-weight: bold;
}

.modal .form-group input.btn {
    margin: auto;
    display: block;
    width: 140px;
}

.btn-1, .btn-1:focus {
    background-color: #087CFF;
    border-color: #087CFF;
    outline: 0;
    color: white;
    margin: 5px;
}

.btn-1:hover, .btn-1:active {
    background-color: #1E7CD8;
    border-color: #1E7CD8;
    outline: 0;
    color: white;
}

.btn-2, .btn-2:focus {
    background-color: #d9534f;
    border-color: #d9534f;
    outline: 0;
    color: white;
    margin: 5px;
}

.btn-2:hover, .btn-2:active {
    background-color: #c9302c;
    border-color: #c9302c;
    outline: 0;
    color: white;
}

form .alert {
    display: none;
    overflow: hidden;
}

body.votare h1, body.admin h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 110px;
    width: 95%;
    max-width: 940px;
    margin: auto;
    margin-bottom: -90px;
    overflow: hidden;
    padding-top: 15px;
}

.header .hleft {
    float: left;
}

.header .hright {
    float: right;
}

.header .hleft h3 {
    font-size: 17px;
    line-height: 20px;
    float: left;
    margin-top: 0;
    font-weight: bold;
}

.header .hleft img {
    height: 90px;
    float: left;
    margin-right: 10px;
}

.header .hright h2 {
    font-size: 20px;
    text-align: right;
    font-family: Roboto, sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.inmenu {
    overflow: hidden;
    height: 80px;
    background: #3498db;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}

.inmenu .menui {
    display: block;
    float: left;
    height: 80px;
    line-height: 45px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    color: #FFFFFF;
    background: #3498db;
    transition: .3s all;
    text-decoration: none;
    font-family: Ubuntu, cursive, sans-serif;
    padding-top: 16px;
}

.inmenu .menui:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    height: 4px;
    width: 120px;
    margin-left: 15px;
    margin-top: 10px;
    transition: .3s all;
}

.inmenu .menui:hover:after, .inmenu .menui.active:after {
    transform: translateY(-15px);
    background: rgba(0, 0, 0, 0.2);
}

.subtit {
    font-size: 36px;
    text-align: center;
    font-family: Ubuntu, cursive, sans-serif;
    text-decoration: underline;
}

.boxinc {
    padding: 30px;
}

.box3 {
    color: white;
    background: #e74c3c;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-height: 150px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Ubuntu, cursive, sans-serif;
}

.box3 a {
    color: white;
    text-decoration: underline;
    font-size: 38px;
}

.box3 .back {
    font-size: 20px;
    display: block;
    text-align: center;
    color: #ecf0f1;
    text-decoration: underline;
}

.box3 .back:hover {
    text-decoration: none;
}

.bigicon {
    text-align: center;
    display: block;
    font-size: 180px;
    color: #e74c3c;
    margin-top: 8%;
    text-shadow: 0 0 1px white;
}

.candidat {
    margin: auto;
    width: 175px;
    padding: 10px;
    text-align: center;
}

.candidat img {
    width: 100px;
    height: 100px;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.1);
}

.candidat h2 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-family: Ubuntu, cursive, sans-serif;
    font-size: 22px;
    word-wrap: break-word;
}

.candidat_sub {
    background: #3498db;
    border: 1px solid #2979AE;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
}

.votebtn, .votebtn:focus {
    box-sizing: content-box;
    display: block;
    margin: auto;
    width: 140px;
    height: 50px;
    line-height: 50px;
    background: #f39c12;
    border-radius: 20px;
    border-bottom: 4px solid #d35400;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 26px;
    transition: all .05s ease-in-out;
    text-decoration: none;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    outline: none;
}

.votebtn:hover, .votebtn:active {
    border-bottom: 2px solid #d35400;
    transform: translate(0, 2px);
    color: white;
    text-decoration: none;
}

.c_sub_a_tooltip {
    display: block;
}

.candidatgr {
    overflow: hidden;
}

.votebtn-up {
    height: 55px;
}

.modal-img {
    height: 200px;
    width: 200px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.modal-datap {
    font-size: 18px;
    padding: 0 40px;
}

.modal-datap2 {
    text-align: center;
    font-size: 30px;
}

.btn-style1 {
    color: #fff;
    background-color: #38C328;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
}

.btn-style2 {
    color: #fff;
    background-color: #EF2822;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
}

.modal-datap2 .btn-style1 {
    float: left;
    margin: 20px;
}

.modal-datap2 .btn-style2 {
    float: right;
    margin: 20px;
}

.sesnam {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    text-decoration: underline;
}

.bignotif {
    font-style: italic;
    color: #333;
    text-align: center;
    font-size: 19px;
}

.imsg {
    font-size: 17px;
}

.info h2 {
    margin: 10px;
    margin-left: 20px;
    background: #3498db;
    border-bottom: 1px solid #2E89C5;
    color: white;
    padding: 9px;
    border-radius: 10px;
    padding-left: 14px;
    font-family: verdana;
    font-size: 27px;
}

.info p {
    margin: 20px;
    font-size: 16px;
    font-family: Verdana;
    padding: 0 22px;
}

.info h2 .fa {
    font-size: 25px;
    margin-right: 6px;
    display: block;
    float: left;
    margin-top: 3px;
}

.reclform textarea {
    width: 500px;
    height: 200px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #A9A9A9;
    max-width: 100%;
    font-style: italic;
}

.reclform input[type=text] {
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #A9A9A9;
}

body.admin .adminpsw {
    width: 210px;
    height: 43px;
    color: black;
    line-height: 19px;
    font-size: 17px;
    padding: 4px 9px;
    border-radius: 8px;
    border: 4px solid #c0392b;
    display: block;
    margin: 4px auto;
}

body.admin .adminpswsu {
    display: block;
    margin: 5px auto;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    width: 140px;
    background: #c0392b;
    color: white;
    transition: .4s all;
}

body.admin .adminpswsu:hover {
    background: white;
    color: black;
}

.smerrmsg {
    font-size: 20px;
    color: rgb(152, 0, 0);
    background: rgb(52, 152, 219);
    padding: 5px;
    display: block;
    width: 100%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.55);
}

.table1 {
    background: white;
}
.table1 td{
    overflow: hidden;
}
.table1 .fa-edit {
    font-size: 27px;
    padding-top: 10px;
}

.table1 .fa-users {
    font-size: 22px;
    margin-top: 3px;
}

.table1 img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.control-label i {
    font-weight: normal;
}

textarea {
    max-width: 100%;
}

#descreditor {
    height: 200px;
}

#sesedit-form .btn-1, #sesedit-form .btn-2 {
    margin: 2px;
    margin-bottom: 10px;
}

.note-editable {
    background: white;
}

.note-editor {
    border-radius: 6px;
    overflow: hidden;
}

.c-b, .c-b:focus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.uplprogress {
    display: none;
    height: 20px;
    margin: 10px;
}

.uplprogress .progress-bar {
    border-radius: 5px;
}

.votdetl {
    font-size: 17px;
    text-align: center;
}

.sm-alert {
    width: 95%;
    min-width: 50px;
    display: block;
    margin: auto;
    font-size: 17px;
}

.center {
    text-align: center;
}

.btnblce, .btnblce:focus, .btnblce:hover, .btnblce:active {
    margin-top: 20px;
}

.nomarginbtm {
    margin-bottom: 0px !important;
}

.btn-inl,.btn-inl:focus {
  margin: 5px;
  display: block;
  height: 34px;
  padding: 6px 28px;
}

.finlinp{
    text-align: center;
}

.finlinp #cnp{
    width: 300px!important;
    display: inline-block;
}

.w95box{
    display: block;
    width:95%;
    max-width:650px;
    margin: 15px auto;
    text-align: left;
}
#urna-form .alert{
    font-size: 17px;
}
#urna-form .alert td{
    padding-right: 10px;
}
.sestt{
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 24px;
}
.alert{
    overflow: hidden;
    word-wrap: break-word;
}
input[name=tel]{
    padding: 1px 5px;
}
